<div class="element">

  <div>
    <h3>Who am I</h3>
    I am Gabriele Miano, a software developer with a passion for creating innovative and functional solutions. With 10
    years of experience in the software development world, I have had the opportunity to work in both small and large
    companies, honing my skills in both backend and frontend development.


    <h3>My Professional Journey</h3>

    My journey in the world of software development began with a fervent curiosity and a passion for problem-solving.
    Over the years, I have faced challenging tasks that have allowed me to grow professionally. I have contributed to
    ambitious projects, collaborating with talented teams and continuously learning to stay up-to-date with the latest
    technologies.

    <h3>My Work Philosophy</h3>

    I am a strong advocate for writing clean code and designing robust solutions. I believe that innovation stems from a
    combination of solid technical skills and the ability to think creatively. Each project represents a new learning
    opportunity, and I am committed to delivering results that exceed expectations.

    <h3>Beyond the Codee</h3>

    When I'm not immersed in the coding world, you can find me engaging in sports activities. I am passionate about
    running, soccer, and the gym. I believe that the balance between mind and body is essential to maintain energy and
    creativity in perfect shape.
  </div>
