<div class="element">

  <div>
    <h3>Chi sono</h3>
    Sono Gabriele Miano, uno sviluppatore software con una passione per la creazione di soluzioni
    innovative
    e funzionali. Con 10 anni di esperienza nel mondo dello sviluppo software, ho avuto l'opportunità di lavorare sia in
    piccole aziende che in grandi aziende, affinando le mie competenze sia in ambito backend che frontend.

    <h3>Il Mio Percorso Professionale</h3>

    Il mio viaggio nel mondo dello sviluppo software è iniziato con una fervente curiosità e una passione per la
    risoluzione di problemi. Nel corso degli anni, ho affrontato sfide stimolanti che mi hanno permesso di crescere
    professionalmente. Ho contribuito a progetti ambiziosi, collaborando con team talentuosi e apprendendo continuamente
    per rimanere al passo con le ultime tecnologie.

    <h3>La Mia Filosofia di Lavoro</h3>

    Sono un fervente sostenitore della scrittura di codice pulito e della progettazione di soluzioni robuste. Credo che
    l'innovazione derivi dalla combinazione di competenze tecniche solide e dalla capacità di pensare in modo creativo.
    Ogni progetto rappresenta una nuova opportunità di apprendimento, e mi impegno a offrire risultati che superino le
    aspettative.

    <h3>Oltre al Codice</h3>

    Quando non sono immerso nel mondo del coding, mi puoi trovare a svolgere attività sportiva. Sono un appassionato di corsa,
    calcio e palestra. Trovo che l'equilibrio tra mente e corpo sia fondamentale per mantenere
    l'energia e la creatività in perfetta forma.
  </div>
