img{
  width: 100px;
  height: 100px;
}

.element{
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > div {
  flex: 15%;
}

.item {
  width: 100%
}



@media screen and (max-width: 900px) {
  .element {
    margin-top: 75px;
  }
  .container > div {
    flex: 30%;
    margin-bottom: 10px;
  }
}
