<div class="menu">
  <div class="logo">
    <img [routerLink]="['/']" data-v-0cbe9a2a="" src="assets/logo.png"  class="svg">
  </div>

  <div class="items">
    <div [routerLink]="['/']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{ exact: true }">Home
    </div>
    <div [routerLink]="['/about']" [routerLinkActive]="['active']">Chi sono</div>
    <div [routerLink]="['/skills']" [routerLinkActive]="['active']">Skills</div>
    <div [routerLink]="['/resumee']" [routerLinkActive]="['active']">Curriculum</div>
    <div [routerLink]="['/contact']" [routerLinkActive]="['active']">Contatti</div>
  </div>
</div>

