<div class="icons">
  <a
    gaEvent="click_linkedin" gaCategory="click_social_icons"
    href="https://linkedin.com/in/gabriele-miano-7b049a80" target="_blank" rel="noreferrer">
    <img src="/assets/icons/linkedin.svg" alt="social" class="svg">
  </a>
  <a
    gaEvent="click_github" gaCategory="click_social_icons"
    href="https://github.com/gabiaka94" target="_blank" rel="noreferrer">
    <img data-v-0cbe9a2a="" src="/assets/icons/github.svg" alt="social" class="svg">
  </a>
  <a
    gaEvent="click_instagram" gaCategory="click_social_icons"
    href="https://www.instagram.com/gabiaka94/" target="_blank" rel="noreferrer">
    <img data-v-0cbe9a2a="" src="/assets/icons/instagram.svg" alt="social" class="svg">
  </a>
</div>
