<div class="container">
  <div class="hamburger" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="logo">
      <img [routerLink]="['/']" [routerLinkActive]="['active']" data-v-0cbe9a2a="" src="../../../../assets/logo.svg" class="svg">
  </div>

  <div class="menu-container" [@slideInOut]="menuState" >
    <div class="close-icon" (click)="toggleMenu()">
      X
    </div>
      <div class="menu-items">
        <div  [routerLink]="['/']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">
          {{dictionary.home}}
        </div>
        <div [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="toggleMenu()" gaEvent="click_about" gaCategory="click_hambuger_menu">{{dictionary.about}}</div>
        <div [routerLink]="['/skills']" [routerLinkActive]="['active']" (click)="toggleMenu()" gaEvent="click_skills" gaCategory="click_hambuger_menu">{{dictionary.skills}}</div>
        <div [routerLink]="['/resumee']" [routerLinkActive]="['active']" (click)="toggleMenu()" gaEvent="click_resumee" gaCategory="click_hambuger_menu">{{dictionary.resumee}}</div>
        <div [routerLink]="['/contacts']" [routerLinkActive]="['active']" (click)="toggleMenu()" gaEvent="click_contact" gaCategory="click_hambuger_menu">{{dictionary.contacts}}</div>
      </div>
  </div>
</div>

